<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Details</title>
</head>
<body>
    <div class="container">
        <h2>Character Details</h2>

        <!-- Display character details -->
        <div>
            <strong>Name:</strong> {{ character.name }}
        </div>
        <div>
            <strong>Race:</strong> {{ character.race.name }}
        </div>
        <div>
            <strong>Class:</strong> {{ character.character_class.name }}
        </div>
        <div>
            <strong>Level:</strong> {{ character.level }}
        </div>
        <div>
            <strong>Strength:</strong> {{ character.strength }}
        </div>
        <div>
            <strong>Dexterity:</strong> {{ character.dexterity }}
        </div>
        <div>
            <strong>Constitution:</strong> {{ character.constitution }}
        </div>
        <div>
            <strong>Intelligence:</strong> {{ character.intelligence }}
        </div>
        <div>
            <strong>Wisdom:</strong> {{ character.wisdom }}
        </div>
        <div>
            <strong>Charisma:</strong> {{ character.charisma }}
        </div>
        <div>
            <strong>Strength Saving Throw:</strong> {{ character.StrST }}
        </div>
        <div>
            <strong>Dexterity Saving Throw:</strong> {{ character.DexST }}
        </div>
        <div>
            <strong>Constitution Saving Throw:</strong> {{ character.ConST }}
        </div>
        <div>
            <strong>Intelligence Saving Throw:</strong> {{ character.IntST }}
        </div>
        <div>
            <strong>Wisdom Saving Throw:</strong> {{ character.WisST }}
        </div>
        <div>
            <strong>Maximum Hit Dice:</strong> {{ character.Mhitdice }}
        </div>
        <div>
            <strong>Current Hit Dice:</strong> {{ character.Chitdice }}
        </div>
        <div>
            <strong>Death Saves Pass:</strong> {{ character.Dsp }}
        </div>
        <div>
            <strong>Death Saves Fail:</strong> {{ character.Dsf }}
        </div>
        <div>
            <strong>Skills:</strong>
            <ul>
                {% for skill in character.skills.all %}
                    <li>{{ skill.name }} - {{ skill.description }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <strong>Spells:</strong>
            <ul>
                {% for spell in character.character_class.spells.all %}
                    <li>{{ spell.name }} - {{ spell.description }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <strong>Inventory Items:</strong>
            <ul>
                {% for item in character.inventory_items.all %}
                    <li>{{ item.name }} - {{ item.description }}</li>
                {% endfor %}
            </ul>
        </div>
   <a href="{% url 'character_card:character_edit' pk=character.id %}" class="btn btn-primary">Edit Character</a>
    </div>
</body>
</html>
