<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{character.name}} {{ character.class_name }} {{ character.level }}
<br>


</body>
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Details</title>
</head>
<body>
    <div class="container">
        <h2>Character Details</h2>
        <p>Name: {{ character.name }}</p>
        <p>Race: {{ character.race }}</p>
        <p>Class: {{ character.class_name }}</p>
        <p>Level: {{ character.level }}</p>
        <p>Strength: {{ character.strength }}</p>
        <p>Dexterity: {{ character.dexterity }}</p>
        <p>Constitution: {{ character.constitution }}</p>
        <p>Intelligence: {{ character.intelligence }}</p>
        <p>Wisdom: {{ character.wisdom }}</p>
        <p>Charisma: {{ character.charisma }}</p>
        <p>Strength Saving Throw: {{ character.StrST }}</p>
        <p>Dexterity Saving Throw: {{ character.DexST }}</p>
        <p>Constitution Saving Throw: {{ character.ConST }}</p>
        <p>Intelligence Saving Throw: {{ character.IntST }}</p>
        <p>Wisdom Saving Throw: {{ character.WisST }}</p>
        <p>Main Hit Dice: {{ character.Mhitdice }}</p>
        <p>Character Hit Dice: {{ character.Chitdice }}</p>
        <p>Death Save Passes: {{ character.Dsp }}</p>
        <p>Death Save Fails: {{ character.Dsf }}</p>
        <p>Skills: {{ character.skills }}</p>
        <p>Proficiencies: {{ character.proficiencies }}</p>
        <p>Spells: {{ character.spells }}</p>
        <p>Inventory: {{ character.inventory }}</p>
       <a href="{% url 'character_card:character_edit' character.pk %}">Edit Character</a>
    </div>
<a href="{% url "dice_roller:roll_dice" character.id%}">roll diece</a>
</body>
</html>
