<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Edit Character</title>

</head>
<body>
    <div class="container">
        <h2>Create/Edit Character</h2>
        <form method="post">
            {% csrf_token %}


            <div>
                <label for="id_user">User:</label>
                {{ form.user }}
            </div>


            <div>
                <label for="id_name">Name:</label>
                {{ form.name }}
            </div>


         <div>
    <label for="id_character_class">Character Class:</label>
    {{ form.character_class }}
</div>


            <div>
    <label for="id_race">Race:</label>
    {{ form.race }}
</div>


            <div>
                <label for="id_level">Level:</label>
                {{ form.level }}
            </div>

            <div>
                <label for="id_strength">Strength:</label>
                {{ form.strength }}
            </div>

            <div>
                <label for="id_dexterity">Dexterity:</label>
                {{ form.dexterity }}
            </div>

            <div>
                <label for="id_constitution">Constitution:</label>
                {{ form.constitution }}
            </div>

            <div>
                <label for="id_intelligence">Intelligence:</label>
                {{ form.intelligence }}
            </div>

            <div>
                <label for="id_wisdom">Wisdom:</label>
                {{ form.wisdom }}
            </div>

            <div>
                <label for="id_charisma">Charisma:</label>
                {{ form.charisma }}
            </div>
        <div>
    <label for="id_StrST">Strength ST:</label>
    <input type="number" name="StrST" id="id_StrST" value="{{ character.StrST }}">
</div>


<div>
    <label for="id_DexST">Dexterity ST:</label>
    <input type="number" name="DexST" id="id_DexST" value="{{ character.DexST }}">
</div>


<div>
    <label for="id_ConST">Constitution ST:</label>
    <input type="number" name="ConST" id="id_ConST" value="{{ character.ConST }}">
</div>


<div>
    <label for="id_IntST">Intelligence ST:</label>
    <input type="number" name="IntST" id="id_IntST" value="{{ character.IntST }}">
</div>


<div>
    <label for="id_WisST">Wisdom ST:</label>
    <input type="number" name="WisST" id="id_WisST" value="{{ character.WisST }}">
</div>


<div>
    <label for="id_Mhitdice">Max Hit Dice:</label>
    <input type="number" name="Mhitdice" id="id_Mhitdice" value="{{ character.Mhitdice }}">
</div>


<div>
    <label for="id_Chitdice">Current Hit Dice:</label>
    <input type="number" name="Chitdice" id="id_Chitdice" value="{{ character.Chitdice }}">
</div>


<div>
    <label for="id_Dsp">Death Saves Pass:</label>
    <input type="number" name="Dsp" id="id_Dsp" value="{{ character.Dsp }}">
</div>


<div>
    <label for="id_Dsf">Death Saves Fail:</label>
    <input type="number" name="Dsf" id="id_Dsf" value="{{ character.Dsf }}">
</div>


            <div>
    <label>Skills:</label>
    {{ form.skills }}
</div>


      <div>
          <label>Spells</label>
          {% for spell in character.character_class.spells.all %}
              {% if spell.learned %}
                  <input type="checkbox" value="{{ spell.id }}" name="spell" checked="True"/>{{ spell }}
              {% else %}
                  <input type="checkbox" value="{{ spell.id }}" name="spell"/>{{ spell }}
              {% endif %}
          {% endfor %}
      </div>
<div>
    <label>Inventory Items:</label>
    {{ form.inventory_items }}
</div>



            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>
